$font-primary: "Georgia", serif;
$font-secondary: "Open Sans", sans-serif;

$colour-primary: #0ca9c5;
$colour-secondary: #912813;
$colour-background: #b9ddd2;

$colour-ui-primary: #decc07;
$colour-ui-shadow: rgba(0,0,0,0.2);