h1 {
    font-family: $font-primary;
    color: #333333;
}

p {
    font-family: $font-secondary;    
}

.navbar a {
    font-family: $font-primary;    
}

.navbar a:hover {
    color: #333333;    
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    font-size: 1.4em;    
}

.navbar-light .navbar-nav .nav-link:hover {
    color: white;
}